---
layout: default
title: Lingua Lambda
---

<div id="home">
  <ul class="posts">
    <div class="column">
    {% assign nextMulti = 0 %}
    {% for post in site.posts %}
        <li>
      	  <h3>{{ nextMulti }}{{ forloop.index0 }} - {{ post.title }}</h3>
      	  <span>&raquo; {{ post.date | date_to_string }}</span>
       	  <p>{{ post.excerpt }}</p>
       	  <a href="{{ post.url }}" class="continue">Continue Reading</a>
        </li>
	{% if 0 == forloop.index0 %}
	  {% assign nextMulti = nextMulti + 3 %}
	{% endif %}
    {% endfor %}
    </div>
  </ul>
</div>
